<div class="space"></div>
<div class="title">
  <h1><%= @dog.nickname %></h1>
  <h2><%= @dog.fullname %></h2>
</div>
<div class="about-company box">
  <h2>О собаке</h2>
  <%= link_to "Родословная", @dog.genealogy_link, target: "_blank", rel: "nofollow", class: "genealogy button" %>
  <p><%= @dog.about %></p>
  <% unless @dog.pictures.empty? %>
    <div class="gallery" data-turbolinks="false">
      <div class="pictures">
        <% @dog.backgroundable.each do |picture| %>
          <%= link_to(
                  image_tag(url_for(picture.file.variant(resize: "100x100").processed)),
                  url_for(picture.file),
                  data: {fancybox: 'gallery'}
              ) %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<% content_for :right_sidebar do %>
  <% if @dog.puppy %>
    <div class="menu">
      <div class="descendants">
        <span class="title">Родители</span>
        <ul class="list">
          <%= render partial: "shared/parents", locals: { dog: @dog } %>
        </ul>
      </div>
    </div>
  <% else %>
    <% unless @dog.kids.blank? %>
      <div class="menu">
        <div class="descendants">
          <span class="title">Потомство</span>
          <ul class="list">
            <%= render partial: "shared/dogs_list", locals: { dogs: @dog.kids, reverse: true } %>
          </ul>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>