<div class="space"></div>
<div class="title">
  <h1><%= @dog.nickname %><%= @dog.gender.eql?("female") ? svg_tag("gender-female", class: "gender") : svg_tag("gender-male", class: "gender") %></h1>
  <h2><%= @dog.fullname %><%= " (Помет #{@dog.litter.title})" unless @dog.litter.blank? %></h2>
</div>
<div class="about-company box">
  <p><%= @dog.about.html_safe %></p>
  <% unless @dog.pictures.empty? %>
    <div class="gallery" data-turbolinks="false">
      <div class="pictures">
        <% @dog.backgroundable.each do |picture| %>
          <%= link_to(
                  image_tag(url_for(picture.file.variant(resize: "100x100").processed)),
                  url_for(picture.file),
                  data: {fancybox: 'gallery'}
              ) %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<% content_for :right_sidebar do %>
  <% if @dog.puppy %>
    <div class="menu">
      <div class="submenu descendants">
        <span class="title">Родители</span>
        <ul class="list">
          <%= render partial: "shared/parents", locals: { dog: @dog } %>
        </ul>
        <%= link_to "Полная родословная", @dog.genealogy_link, target: "_blank", rel: "nofollow", class: "genealogy button item" %>
      </div>
    </div>
  <% else %>
      <div class="menu">
        <div class="submenu descendants">
          <% unless @dog.parents.blank? %>
            <span class="title">Родители</span>
            <ul class="list">
              <%= render partial: "shared/parents", locals: { dog: @dog } %>
            </ul>
          <% end %>
          <% unless @dog.kids.blank? %>
            <span class="title">Потомство</span>
            <ul class="list">
              <%= render partial: "shared/dogs_list", locals: { dogs: @dog.kids, reverse: true } %>
            </ul>
          <% end %>
          <% unless @dog.genealogy_link.blank? %>
            <%= link_to "Полная родословная", @dog.genealogy_link, target: "_blank", rel: "nofollow", class: "genealogy button item" %>
          <% end %>
        </div>
      </div>
  <% end %>
<% end %>