<% dogs.each do |dog| %>
<li class="item">
  <a href="/dogs/<%= dog.id %>">
    <span class="avatar <%= dog.gender %> <%= dog.avatar || "stub" %>">
      <%= image_tag url_for(dog.avatar) unless dog.avatar.blank? %>
      <span><%= dog.nickname %></span>
    </span>
  </a>
</li>
<% end %>