<% if dogs.blank? %>
  <li class="item">
    <a href="#">
      <span class="avatar"><%= t('content.no_dogs') %></span>
    </a>
  </li>
<% else %>
  <% dogs.each do |dog| %>
    <li class="item">
      <a href="<%= dog_path dog %>">
        <div>
          <% unless local_assigns[:reverse] %>
        <span class="avatar reverse">
          <i class="<%= dog.gender %><%= " stub" if dog.avatar.blank? %>" <%= "style=\"background-image: url(#{ url_for dog.avatar.file.variant(crop: dog.avatar.crop, resize: '100x100').processed })\"".html_safe unless dog.avatar.blank? %>></i>
          <span><%= dog.fullname %>
            <span class="breed__title"><%= dog.breed.title %></span>
          </span>
        </span>
          <% else %>
        <span class="avatar">
          <span><%= dog.fullname %>
            <span class="breed__title"><%= dog.breed.title %></span>
          </span>
          <i class="<%= dog.gender %><%= " stub" if dog.avatar.blank? %>" <%= "style=\"background-image: url(#{ url_for dog.avatar.file })\"".html_safe unless dog.avatar.blank? %>></i>
        </span>
          <% end %>
        </div>
      </a>
    </li>
  <% end %>
<% end %>