<% dogs.each do |dog| %>
<li class="item">
  <a href="<%= dog_path dog %>">
    <div>
      <% unless local_assigns[:reverse] %>
      <span class="avatar reverse">
        <i class="<%= dog.gender %><%= " stub" if dog.avatar.blank? %>" <%= "style=\"background-image: url(#{ url_for dog.avatar.file })\"".html_safe unless dog.avatar.blank? %>></i>
        <span><%= dog.nickname %></span>
      </span>
      <% else %>
      <span class="avatar">
        <span><%= dog.nickname %></span>
        <i class="<%= dog.gender %><%= " stub" if dog.avatar.blank? %>" <%= "style=\"background-image: url(#{ url_for dog.avatar.file })\"".html_safe unless dog.avatar.blank? %>></i>
      </span>
      <% end %>
    </div>
  </a>
</li>
<% end %>