<div class="space"></div>
<div class="title">
  <h1><%= t('content.gallery') %></h1>
</div>
<div class="about-company box">
  <p><%= t('content.gallery_content') %></p>
  <% unless @gallery.empty? %>
    <div class="gallery" data-turbolinks="false">
      <div class="pictures">
        <% @gallery.each do |image| %>
          <%= link_to(
                  image_tag(url_for(image.file.variant(resize: "100x100").processed)),
                  url_for(image.file),
                  data: {fancybox: 'gallery'}
              ) %>
          <% rescue %>
        <p><%= t('content.gallery_loading_error') %></p>
          <% break %>
        <% end %>
      </div>
    </div>
  <% end %>
  <%== pagy_nav(@pagy) %>
</div>
