<!DOCTYPE html>
<html>
  <head>
    <title>FrenchesnaRu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-image: url(<%= url_for (@background) unless @background.blank? %>)">
    <header>
      <div class="logo">
        <a href="/"></a>
      </div>
      <div class="contacts">
        <a class="phone" href="tel:+79772614163">+7 (977) 261-41-63</a><br>
        <span class="address"><%= t('content.address') %></span>
      </div>
    </header>
    <div class="content">
      <div class="sidebar left">
        <div class="menu">
          <input type="checkbox" id="burger">
          <div class="burger-menu">
            <label for="burger">
              <span class="line top"></span>
              <span class="line mid-top"></span>
              <span class="line mid-bottom"></span>
              <span class="line bottom"></span>
            </label>
          </div>
          <%= render partial: "shared/menu", locals: { dogs: @dogs, puppies: @puppies, current_dog: @dog } %>
        </div>
      </div>
      <div class="main">
        <%= yield %>
      </div>
      <div class="sidebar right">
        <%= yield :right_sidebar %>
      </div>
    </div>
    <footer>
      <div class="contacts">
        <span class="address">г. Пушкино, Московской области</span>
        <br>
        <a class="phone" href="tel:+79772614163">+7 (977) 261-41-63</a>
      </div>
      <div class="logo">
        <a href="/"></a>
      </div>
    </footer>
  </body>
</html>
