<!DOCTYPE html>
<html>
  <head>
    <title>FrenchesnaRu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-image: url(<%= url_for Preference.background %>)">
    <div class="logo">
      <a href="/"></a>
    </div>
    <div class="sidebar">
      <div class="menu">
        <%= render partial: "shared/menu", locals: { dogs: @dogs, puppies: @puppies } %>
      </div>
    </div>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
